@import "./normalize";
@import "./links";
@import "./buttons";
@import "./text";

body {
  background: $primary;
  font-family: "Merriweather", serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 24px;
}
